<div class="full-row">
	<div class="container">
		<div class="row">
			<!-- <div class="col-lg-4 col-md-12">
				<div class="bg-white mb-4 px-4 sm-p-30 py-4 shadow">
					<div class="capability-avg pt-4">
						<div class="bar-progress fact-counter text-secondary position-relative mb-5"> 
							<span>Investment</span>
							<div class="progress bg-gray count wow fadeIn" data-wow-duration="0ms">
								<div class="skill-percent"><span class="count-num" data-speed="3000" data-stop="80">0</span>%</div>
								<div class="progress-bar bg-primary" role="progressbar" aria-valuenow="80" aria-valuemax="100"> </div>
							</div>
						</div>
						<div class="bar-progress fact-counter text-secondary position-relative mb-5"> 
							<span>Forgain Investment</span>
							<div class="progress bg-gray count wow fadeIn" data-wow-duration="0ms">
								<div class="skill-percent"><span class="count-num" data-speed="3000" data-stop="51">0</span>%</div>
								<div class="progress-bar bg-primary" role="progressbar" aria-valuenow="51" aria-valuemax="100"> </div>
							</div>
						</div>
						<div class="bar-progress fact-counter text-secondary position-relative mb-5"> 
							<span>Success Average</span>
							<div class="progress bg-gray count wow fadeIn" data-wow-duration="0ms">
								<div class="skill-percent"><span class="count-num" data-speed="3000" data-stop="95">0</span>%</div>
								<div class="progress-bar bg-primary" role="progressbar" aria-valuenow="95" aria-valuemax="100"> </div>
							</div>
						</div>
						<div class="bar-progress fact-counter text-secondary position-relative mb-5"> 
							<span>Tender Win Average</span>
							<div class="progress bg-gray count wow fadeIn" data-wow-duration="0ms">
								<div class="skill-percent"><span class="count-num" data-speed="3000" data-stop="72">0</span>%</div>
								<div class="progress-bar bg-primary" role="progressbar" aria-valuenow="72" aria-valuemax="100"> </div>
							</div>
						</div>
						<div class="bar-progress fact-counter text-secondary position-relative mb-5"> 
							<span>Project Monitoring</span>
							<div class="progress bg-gray count wow fadeIn" data-wow-duration="0ms">
								<div class="skill-percent"><span class="count-num" data-speed="3000" data-stop="90">0</span>%</div>
								<div class="progress-bar bg-primary" role="progressbar" aria-valuenow="90" aria-valuemax="100"> </div>
							</div>
						</div>
						<div class="bar-progress fact-counter text-secondary position-relative mb-5"> 
							<span>Return Avg Profit</span>
							<div class="progress bg-gray count wow fadeIn" data-wow-duration="0ms">
								<div class="skill-percent"><span class="count-num" data-speed="3000" data-stop="78">0</span>%</div>
								<div class="progress-bar bg-primary" role="progressbar" aria-valuenow="78" aria-valuemax="100"> </div>
							</div>
						</div>
						<div class="bar-progress fact-counter text-secondary position-relative mb-5"> 
							<span>People Recommended</span>
							<div class="progress bg-gray count wow fadeIn" data-wow-duration="0ms">
								<div class="skill-percent"><span class="count-num" data-speed="3000" data-stop="95">0</span>%</div>
								<div class="progress-bar bg-primary" role="progressbar" aria-valuenow="95" aria-valuemax="100"> </div>
							</div>
						</div>
					</div>
				</div>
			</div> -->
			<div class="col-lg-12 col-md-12">
				<div class="row">
					<div class="col-lg-12 mb-5">
						<span class="pb-2 d-table w-sm-100 text-primary h6">Capability</span>
						<h3 class="down-line w-sm-100 w-75 mb-4">What’s Our Ability and Help to Analys SWOT of Your Business</h3>
						<span class="d-table sub-title">Mauris primis turpis Laoreet magna felis mi amet quam enim curae; sodales semper tempor dictum faucibus habitasse.</span>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-6 col-md-6 mb-3">
						<h5 class="pb-3 d-table">Business Strengths</h5>
						<p>Nisi mollis conubia Cras. Lacinia cubilia accumsan tempus risus mi consequat viverra. Velit egestas at consectetuer rhoncus aptent nunc aliquet ipsum dictumst gravida curae.</p>
					</div>
					<div class="col-lg-6 col-md-6 mb-3">
						<h5 class="pb-3 d-table">Investment Opportunities</h5>
						<p>Nisi mollis conubia Cras. Lacinia cubilia accumsan tempus risus mi consequat viverra. Velit egestas at consectetuer rhoncus aptent nunc aliquet ipsum dictumst gravida curae.</p>
					</div>
					<div class="col-lg-6 col-md-6 mb-3">
						<h5 class="pb-3 d-table">Company Weaknesses</h5>
						<p>Nisi mollis conubia Cras. Lacinia cubilia accumsan tempus risus mi consequat viverra. Velit egestas at consectetuer rhoncus aptent nunc aliquet ipsum dictumst gravida curae.</p>
					</div>
					<div class="col-lg-6 col-md-6 mb-3">
						<h5 class="pb-3 d-table">Necessery Threats</h5>
						<p>Nisi mollis conubia Cras. Lacinia cubilia accumsan tempus risus mi consequat viverra. Velit egestas at consectetuer rhoncus aptent nunc aliquet ipsum dictumst gravida curae.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
