<case-study-banner [caseStudyCategory]= "category" ></case-study-banner>

<div class="full-row bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div *ngIf="category == 'Web Development'" class="case-study-line">
                    <case-study-item class="case-study-line" *ngFor="let caseStudy of webCaseStudies; index as i;" [index]="i" [imgUrl]="caseStudy.imgUrl"
                    [title] = "caseStudy.title" [description] = "caseStudy.description" [siteUrl] = "caseStudy.siteUrl" >
                    </case-study-item>
                </div>

                <div *ngIf="category == 'Mobile Development'" class="case-study-line">
                    <case-study-item class="case-study-line" *ngFor="let caseStudy of mobileCaseStudies; index as i;" [index]="i" [imgUrl]="caseStudy.imgUrl"
                    [title] = "caseStudy.title" [description] = "caseStudy.description" [siteUrl] = "caseStudy.siteUrl" >
                    </case-study-item>
                </div>

                <div *ngIf="category == 'UI/UX'" class="case-study-line">
                    <case-study-item class="case-study-line" *ngFor="let caseStudy of uiCaseStudies; index as i;" [index]="i" [imgUrl]="caseStudy.imgUrl"
                    [title] = "caseStudy.title" [description] = "caseStudy.description" [siteUrl] = "caseStudy.siteUrl" >
                    </case-study-item>
                </div>

                <div *ngIf="category == 'Data Science'" class="case-study-line">
                    <case-study-item class="case-study-line" *ngFor="let caseStudy of dataCaseStudies; index as i;" [index]="i" [imgUrl]="caseStudy.imgUrl"
                    [title] = "caseStudy.title" [description] = "caseStudy.description" [siteUrl] = "caseStudy.siteUrl" >
                    </case-study-item>
                </div>

            </div>
        </div>
    </div>
</div>