<div class="full-row p-0 position-relative sm-m-0" id="summary-main" >
    <div class="container">
        <div class="row shadow bg-white">
            <div class="col-lg-4 col-md-4 p-0">
                <div class="bg-primary text-white p-5 h-100 sm-p-30">
                    <h6 class="text-white down-line-white mb-4">Dont Worry What the Challanges That We Take</h6>
                    <p>Facilisi penatibus gravida tristique ultricies ultricies mollis porta eleifend felis volutpat rutrum
                        amet proin. Pharetra et nisl primis metus turpis metus senectus purus ridiculus auctor nibh curae
                        arcu viverra. Mauris ullamcorper elit magna felis.</p>
                    <a href="#" class="btn btn-dark">Read More</a>
                </div>
            </div>
            <div class="col-lg-8 col-md-8 py-5">
                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <div class="d-flex float-left py-3">
                            <span class="float-left d-table">
                                <i class="flaticon-tax flat-medium text-primary"></i>
                            </span>
                            <div class="pl-3">
                                <h5 class="text-dark mb-3">Finincial Experts</h5>
                                <p>Massa sapien ad. Vestibulum bibendum dignissim at orper litora. Nunc tempor risus dapibus
                                    dis cum accumsan.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="d-flex float-left py-3">
                            <span class="float-left d-table">
                                <i class="flaticon-student flat-medium text-primary"></i>
                            </span>
                            <div class="pl-3">
                                <h5 class="text-dark mb-3">Business Strategy</h5>
                                <p>Massa sapien ad. Vestibulum bibendum dignissim at orper litora. Nunc tempor risus dapibus
                                    dis cum accumsan.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="d-flex float-left py-3">
                            <span class="float-left d-table">
                                <i class="flaticon-devices flat-medium text-primary"></i>
                            </span>
                            <div class="pl-3">
                                <h5 class="text-dark mb-3">Creative Process</h5>
                                <p>Massa sapien ad. Vestibulum bibendum dignissim at orper litora. Nunc tempor risus dapibus
                                    dis cum accumsan.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="d-flex float-left py-3">
                            <span class="float-left d-table">
                                <i class="flaticon-24-hours flat-medium text-primary"></i>
                            </span>
                            <div class="pl-3">
                                <h5 class="text-dark mb-3">24/7 Support</h5>
                                <p>Massa sapien ad. Vestibulum bibendum dignissim at orper litora. Nunc tempor risus dapibus
                                    dis cum accumsan.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>