<div class="full-row p-0 position-relative sm-m-0" id="summary-main" >
    <div class="container">
        <div class="row shadow bg-white">
            <div class="col-lg-4 col-md-4 p-0">
                <div class="bg-primary text-white p-5 h-100 sm-p-30">
                    <h6 class="text-white down-line-white mb-4">Why Frameworx?</h6>
                    <p style="font-size: large;">We excel in understanding our customers problems and provide cost-effective and highly advanced solutions without compromising on speed and quality. Customer satisfaction is a top priority for us, and to that end, we ensure that our cross-functional team ardently navigates your requirements and technology stacks to provide highly-customized and creative solutions to meet your needs.</p>
                    <!-- <a href="#" class="btn btn-dark">Read More</a> -->
                </div>
            </div>
            <div class="col-lg-8 col-md-8 py-5">
                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <div class="d-flex float-left py-3">
                            <span class="float-left d-table">
                                <i class="flaticon-tax flat-medium text-primary"></i>
                            </span>
                            <div class="pl-3">
                                <h5 class="text-dark mb-3">Technical Experts</h5>
                                <p>Software architects with broad and deep technical knowledge and excellent communication skills. We always maintain a fair line between doing things quickly and investing in a solid foundation for a long-term relationship.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="d-flex float-left py-3">
                            <span class="float-left d-table">
                                <i class="flaticon-student flat-medium text-primary"></i>
                            </span>
                            <div class="pl-3">
                                <h5 class="text-dark mb-3">Business Strategy</h5>
                                <p>We are a team of Experienced Software Developers who have built, managed and deployed dozens of successful projects with an immense positive feedback.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="d-flex float-left py-3">
                            <span class="float-left d-table">
                                <i class="flaticon-devices flat-medium text-primary"></i>
                            </span>
                            <div class="pl-3">
                                <h5 class="text-dark mb-3">Creative Process</h5>
                                <p>Our expert team of professionals  go through a five stage creative process for every product that we develop, to ensure quality, scalability and robustness in our products.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="d-flex float-left py-3">
                            <span class="float-left d-table">
                                <i class="flaticon-24-hours flat-medium text-primary"></i>
                            </span>
                            <div class="pl-3">
                                <h5 class="text-dark mb-3">24/7 Support</h5>
                                <p>We ensure your product works seamlessly without any software fail-over bottlenecks. We offer 24x7 technical support to cater your needs.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>