<div class="full-row">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="fact-counter">
					<div class="row">
						<div class="col-lg-3 col-sm-6">
							<div class="mb-30 text-center count wow fadeIn" data-wow-duration="300ms">
								<span class="count-num ordenery-font text-secondary service-count" data-speed="3000" data-stop="3">0</span><span class="text-secondary font-large">+</span>
								<div class="text-general font-small pt-3">Years Of Experience</div>
							</div>
						</div>
						<div class="col-lg-3 col-sm-6">
							<div class="mb-30 text-center count wow fadeIn" data-wow-duration="300ms">
								<span class="count-num ordenery-font animated text-secondary service-count"  data-speed="3000" data-stop="100">0</span><span class="text-secondary font-large">%</span>
								<div class="text-general font-small pt-3">Customer Satisfaction</div>
							</div>
						</div>
						<div class="col-lg-3 col-sm-6">
							<div class="mb-30 text-center count wow fadeIn" data-wow-duration="300ms"> 
								<span class="count-num ordenery-font text-secondary service-count"  data-speed="3000" data-stop="10">0</span><span class="text-secondary font-large">+</span>
								<div class="text-general font-small pt-3">Projects</div>
							</div>
						</div>
						<div class="col-lg-3 col-sm-6">
							<div class="mb-30 text-center count wow fadeIn" data-wow-duration="300ms"> 
								<span class="count-num ordenery-font text-secondary service-count"  data-speed="3000" data-stop="25">0</span>
								<div class="text-general font-small pt-3">Company Consulted</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
