<div class="full-row page-banner-image overlay-secondary" style="background-image: url(theme_styles/images/background/nb3.jpg); background-position: center center; background-size: cover">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="text-white text-center down-line-white" style="margin-top:25px; font-size: 50px">Lets Talk</h1>
                <!-- <span class="text-white text-center mt-4 sub-title w-50 w-sm-100 mx-auto">People freequenly ask question and get answer from our cool stuff. User can feel free to ask question and we answer asap.</span> -->
            </div>
        </div>
    </div>
</div>

<div class="full-row">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-7">
                <h3 class="down-line mb-5">Send Message</h3>
                <div class="form-simple mb-5">
                    <form action="#" method="post">
                        <div class="form-row">
                            <div class="col-md-6">
                                <label>Full Name:</label>
                                <input type="text" class="form-control bg-gray" name="name" required="">
                            </div>
                            <div class="col-md-6">
                                <label>Your Email:</label>
                                <input type="email" class="form-control bg-gray" name="email" required="">
                            </div>
                            <div class="col-md-12">
                                <label>Subject:</label>
                                <input type="text" class="form-control bg-gray" name="subject" required="">
                            </div>
                            <div class="col-md-12">
                                <label>Message:</label>
                                <textarea class="form-control bg-gray" name="message" rows="8" required=""></textarea>
                            </div>
                            <div class="col-md-12">
                                <button class="btn btn-primary" name="submit" type="submit">Send Message</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-5 col-md-5">
                <h3 class="down-line mb-5">Get In Touch</h3>
                <p></p>
                <div class="d-flex mb-3">
                    <ul>
                        <li class="mb-3">
                            <strong>Office Address :</strong>
                            <br> Level 13, 2 Elizabeth St, Melbourne, Victoria 3000 Australia
                        </li>
                        <li class="mb-3">
                            <strong>Contact Number :</strong>
                            <br> 
                            +92 321-392-4692                        </li>
                        <li class="mb-3">
                            <strong>Email Address :</strong>
                            <br> info@frameworx.agency
                        </li>
                    </ul>
                </div>
                <!-- <h5 class="mb-2">Career Info</h5>
                <p>If you’re interested in employment opportunities at Unicoder, please email us:
                    <br>
                    <a href="#">support@unicoderbd.com</a>
                </p> -->
            </div>
        </div>
    </div>
</div>