<div class="full-row bg-light">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 mb-5">
				<span class="pb-2 d-table w-50 w-sm-100 text-primary m-auto text-center h6">Our Services</span>
				<h3 class="down-line w-50 w-sm-100 m-auto text-center">We Work Specially for Our Clients Checkout Our Service</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4 col-md-6">
				<div class="simple-thumb px-3 mb-30 text-center">
					<i class="flaticon-network flat-medium text-primary d-table mx-auto p-3 border-bottom"></i>
					<h5 class="mb-3 mt-4"><a href="#" class="text-secondary hover-text-primary transation">Web Development</a></h5>
					<p>We use rapid web development methodologies exposing frameworks such as (Django, Python, React, Angular, .Net, Java, Spring, Node). The end goal is to build robust, user friendly web apps and find innovative solutions for our clients.</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="simple-thumb px-3 mb-30 text-center">
					<i class="flaticon-tax flat-medium text-primary d-table mx-auto p-3 border-bottom"></i>
					<h5 class="mb-3 mt-4"><a href="#" class="text-secondary hover-text-primary transation">ML and Data Science</a></h5>
					<p>We develop robust Machine Learning (ML) models to help you achieve ideal results and optimized performance. Our Engineers help you train your AI models by optimizing parameters to help you achieve desired results.</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="simple-thumb px-3 mb-30 text-center">
					<i class="flaticon-student flat-medium text-primary d-table mx-auto p-3 border-bottom"></i>
					<h5 class="mb-3 mt-4"><a href="#" class="text-secondary hover-text-primary transation">Mobile Devlopment</a></h5>
					<p>We strive to build mobile apps that offer users a seamless experience. We build secure, reliable apps using native and cross-platform technologies including React-native, Cordova, etc.</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="simple-thumb px-3 mb-30 text-center">
					<i class="flaticon-import flat-medium text-primary d-table mx-auto p-3 border-bottom"></i>
					<h5 class="mb-3 mt-4"><a href="#" class="text-secondary hover-text-primary transation">DevOps</a></h5>
					<p>Experts in CI-CD best practices, automation tools and supporting highly available 24×7 services. We can work as a remote or integrate with your on-site DevOps team to achieve goals.</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="simple-thumb px-3 mb-30 text-center">
					<i class="flaticon-startup flat-medium text-primary d-table mx-auto p-3 border-bottom"></i>
					<h5 class="mb-3 mt-4"><a href="#" class="text-secondary hover-text-primary transation">Social Media Marketing</a></h5>
					<p>Our expert team of Content Writers can help you detail your Blogs, Articles & Social Networking.</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="simple-thumb px-3 mb-30 text-center">
					<i class="flaticon-group flat-medium text-primary d-table mx-auto p-3 border-bottom"></i>
					<h5 class="mb-3 mt-4"><a href="#" class="text-secondary hover-text-primary transation">UI/UX Design</a></h5>
					<p>Our expert team of designers will help you create <em>user-centric digital products</em>, by focusing on UI/UX. Plus we ensure that our customers get value for money.</p>
				</div>
			</div>
		</div>
	</div>
</div>

<our-services-counts></our-services-counts>