<div class="full-row bg-light">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 mb-5">
				<span class="pb-2 d-table w-50 w-sm-100 text-primary m-auto text-center h6">Our Services</span>
				<h3 class="down-line w-50 w-sm-100 m-auto text-center">We Work Specially for Our Clients Checkout Our Service</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4 col-md-6">
				<div class="simple-thumb px-3 mb-30 text-center">
					<i class="flaticon-network flat-medium text-primary d-table mx-auto p-3 border-bottom"></i>
					<h5 class="mb-3 mt-4"><a href="#" class="text-secondary hover-text-primary transation">Connecting Business</a></h5>
					<p>Nam aenean fringilla maecenas int erdum taciti id, interdum donec aliqua Fusce. Convallis et eleifend torquent ac.</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="simple-thumb px-3 mb-30 text-center">
					<i class="flaticon-tax flat-medium text-primary d-table mx-auto p-3 border-bottom"></i>
					<h5 class="mb-3 mt-4"><a href="#" class="text-secondary hover-text-primary transation">Funding For Business</a></h5>
					<p>Nam aenean fringilla maecenas int erdum taciti id, interdum donec aliqua Fusce. Convallis et eleifend torquent ac.</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="simple-thumb px-3 mb-30 text-center">
					<i class="flaticon-student flat-medium text-primary d-table mx-auto p-3 border-bottom"></i>
					<h5 class="mb-3 mt-4"><a href="#" class="text-secondary hover-text-primary transation">Training and Certification</a></h5>
					<p>Nam aenean fringilla maecenas int erdum taciti id, interdum donec aliqua Fusce. Convallis et eleifend torquent ac.</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="simple-thumb px-3 mb-30 text-center">
					<i class="flaticon-import flat-medium text-primary d-table mx-auto p-3 border-bottom"></i>
					<h5 class="mb-3 mt-4"><a href="#" class="text-secondary hover-text-primary transation">Import and Export Facility</a></h5>
					<p>Nam aenean fringilla maecenas int erdum taciti id, interdum donec aliqua Fusce. Convallis et eleifend torquent ac.</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="simple-thumb px-3 mb-30 text-center">
					<i class="flaticon-startup flat-medium text-primary d-table mx-auto p-3 border-bottom"></i>
					<h5 class="mb-3 mt-4"><a href="#" class="text-secondary hover-text-primary transation">Setuping Business</a></h5>
					<p>Nam aenean fringilla maecenas int erdum taciti id, interdum donec aliqua Fusce. Convallis et eleifend torquent ac.</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="simple-thumb px-3 mb-30 text-center">
					<i class="flaticon-group flat-medium text-primary d-table mx-auto p-3 border-bottom"></i>
					<h5 class="mb-3 mt-4"><a href="#" class="text-secondary hover-text-primary transation">Entrepreneur Training</a></h5>
					<p>Nam aenean fringilla maecenas int erdum taciti id, interdum donec aliqua Fusce. Convallis et eleifend torquent ac.</p>
				</div>
			</div>
		</div>
	</div>
</div>

<our-services-counts></our-services-counts>