<div class="full-row p-0">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xl-4 col-md-7 ml-5 mb-5 sm-ml-0">
				<span class="pb-2 d-table w-sm-100 text-primary h6">Our Projects</span>
				<h2 class="down-line w-sm-100">The Projects We have Completed Recently and On Going</h2>
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-12">
				<div class="gallery-carousel px-5 sm-p-0">
					<div class="4block-carusel dot-disable owl-carousel">
						<div class="item">
							<div class="img-thumb-title-inside">
								<a class="portfolio-view xy-center position-absolute transation" href="theme_styles/images/projects/photographHire.jpg" data-fancybox="gallery" data-caption="A Photographer Hiring Portal where customers could directly book photographers."><i class="flaticon-search flat-small text-white"></i></a>
								<img style="height:200px" src="theme_styles/images/projects/photographHire.jpg" alt="corporate template">
								<h6 class="p-3 title bg-white hover-bg-primary hover-text-white transation"><a routerLink="/projects/webDev" routerLinkActive="active" class="ordenery-font transation">Web Development <i class="fas fa-arrow-right ml-3"></i></a></h6>
							</div>
						</div>
			
						<div class="item">
							<div class="img-thumb-title-inside">
								<a class="portfolio-view xy-center position-absolute transation" href="theme_styles/images/projects/AgencyApp2.png" data-fancybox="gallery" data-caption="One super application for digital agencies that combines project management, team management and CRM."><i class="flaticon-search flat-small text-white"></i></a>
								<img style="height:200px" src="theme_styles/images/projects/AgencyApp2.png" alt="corporate template">
								<h6 class="p-3 title bg-white hover-bg-primary hover-text-white transation"><a routerLink="/projects/mobileDev" routerLinkActive="active" class="ordenery-font transation">Mobile Development <i class="fas fa-arrow-right ml-3"></i></a></h6>
							</div>
						</div>

						<div class="item">
							<div class="img-thumb-title-inside">
								<a class="portfolio-view xy-center position-absolute transation" href="theme_styles/images/projects/blackJackPro.jpeg" data-fancybox="gallery" data-caption="A game launch screen"><i class="flaticon-search flat-small text-white"></i></a>
								<img style="height:200px" src="theme_styles/images/projects/blackJackPro4.png" alt="corporate template">
								<h6 class="p-3 title bg-white hover-bg-primary hover-text-white transation"><a routerLink="/projects/uiux" routerLinkActive="active" class="ordenery-font transation">"UI/UX Designs <i class="fas fa-arrow-right ml-3"></i></a></h6>
							</div>
						</div>

						<div class="item">
							<div class="img-thumb-title-inside">
								<a class="portfolio-view xy-center position-absolute transation" href="theme_styles/images/projects/eduver.jpg" data-fancybox="gallery" data-caption="A Career Counseling Portal powered by Machine Learning"><i class="flaticon-search flat-small text-white"></i></a>
								<img style="height:200px" src="theme_styles/images/projects/eduver.jpg" alt="corporate template">
								<h6 class="p-3 title bg-white hover-bg-primary hover-text-white transation"><a routerLink="/projects/dataScience" routerLinkActive="active" class="ordenery-font transation">Data Science <i class="fas fa-arrow-right ml-3"></i></a></h6>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
