<div class="full-row p-0">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xl-4 col-md-7 ml-5 mb-5 sm-ml-0">
				<span class="pb-2 d-table w-sm-100 text-primary h6">Latest Project</span>
				<h2 class="down-line w-sm-100">The Projects We have Complated Recently and On Going</h2>
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-12">
				<div class="gallery-carousel px-5 sm-p-0">
					<div class="4block-carusel dot-disable owl-carousel">
						<div class="item">
							<div class="img-thumb-title-inside">
								<a class="portfolio-view xy-center position-absolute transation" href="theme_styles/images/gallery/16.jpg" data-fancybox="gallery" data-caption="Caption for single image"><i class="flaticon-search flat-small text-white"></i></a>
								<img src="theme_styles/images/gallery/16.jpg" alt="corporate template">
								<h6 class="p-3 title bg-white hover-bg-primary hover-text-white transation"><a href="#" class="ordenery-font transation">Software Development <i class="fas fa-arrow-right ml-3"></i></a></h6>
							</div>
						</div>
						<div class="item">
							<div class="img-thumb-title-inside">
								<a data-fancybox href="https://www.youtube.com/watch?v=0HnHUBeIBqU" class="portfolio-view xy-center position-absolute transation"><i class="flaticon-movie flat-medium text-white"></i></a>
								<img src="theme_styles/images/gallery/17.jpg" alt="corporate template">
								<h6 class="p-3 title bg-white hover-bg-primary hover-text-white transation"><a href="#" class="ordenery-font transation">UI/UX Design <i class="fas fa-arrow-right ml-3"></i></a></h6>
							</div>
						</div>
						<div class="item">
							<div class="img-thumb-title-inside">
								<a class="portfolio-view xy-center position-absolute transation" href="assets/images/gallery/18.jpg" data-fancybox="gallery" data-caption="Caption for single image"><i class="flaticon-search flat-small text-white"></i></a>
								<img src="theme_styles/images/gallery/18.jpg" alt="corporate template">
								<h6 class="p-3 title bg-white hover-bg-primary hover-text-white transation"><a href="#" class="ordenery-font transation">Creative Art Work <i class="fas fa-arrow-right ml-3"></i></a></h6>
							</div>
						</div>
						<div class="item">
							<div class="img-thumb-title-inside">
								<a class="portfolio-view xy-center position-absolute transation" href="assets/images/gallery/19.jpg" data-fancybox="gallery" data-caption="Caption for single image"><i class="flaticon-search flat-small text-white"></i></a>
								<img src="theme_styles/images/gallery/19.jpg" alt="corporate template">
								<h6 class="p-3 title bg-white hover-bg-primary hover-text-white transation"><a href="#" class="ordenery-font transation">Entrepreneurship Training <i class="fas fa-arrow-right ml-3"></i></a></h6>
							</div>
						</div>
						<div class="item">
							<div class="img-thumb-title-inside">
								<a class="portfolio-view xy-center position-absolute transation" href="theme_styles/images/gallery/20.jpg" data-fancybox="gallery" data-caption="Caption for single image"><i class="flaticon-search flat-small text-white"></i></a>
								<img src="theme_styles/images/gallery/20.jpg" alt="corporate template">
								<h6 class="p-3 title bg-white hover-bg-primary hover-text-white transation"><a href="#" class="ordenery-font transation">Software Development <i class="fas fa-arrow-right ml-3"></i></a></h6>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
