<div class="full-row" style="padding-bottom: 30px">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-md-6">
				<div class="footer-widget mb-5">
					<div class="footer-logo mb-4">
						<a href="#"><img src="theme_styles/images/logo/Frameworx_Logo.svg" alt="Image not found!" /></a>
					</div>
					<p>Every thing was impossible until you met us. So talk to us.</p>
					<a routerLink="/contactUs" routerLinkActive="active" class="btn btn-primary mt-4">Lets Talk</a>
				</div>
			</div>
			
			<div class="col-lg-3 col-md-6">
				<div class="footer-widget footer-nav mb-5">
				  <h3 class="widget-title mb-4">Quick Links</h3>
				  <ul>
					<li><a routerLink="/home" routerLinkActive="active">Home</a></li>
					<li><a routerLink="/projects/webdev" routerLinkActive="active">Our Work</a></li>
					<li><a routerLink="/contactUs" routerLinkActive="active">Contact Us</a></li>
				  </ul>
				</div>
			</div>

			<div class="col-lg-3 col-md-6">
				<div class="footer-widget contact-widget mb-5">
				  <h3 class="widget-title mb-4">Contact Us</h3>
				    <ul>
						<li>Office no 542, Akbar Center ATW Lahore, Pakistan</li>
						<li>+92 321-392-4692</li>
						<li>info@frameworx.agency</li>
				    </ul>
				</div>
				<!-- <div class="footer-widget media-widget mb-5">
					<a href="#"><i class="fab fa-facebook-f"></i></a>
					<a href="#"><i class="fab fa-twitter"></i></a>
					<a href="#"><i class="fab fa-linkedin-in"></i></a>
					<a href="#"><i class="fab fa-google-plus-g"></i></a>
					<a href="#"><i class="fab fa-pinterest-p"></i></a>
				</div> -->
			</div>
		</div>
	</div>
</div>

<footer-copyrights></footer-copyrights>

