<div class="full-row" style="padding-bottom: 30px">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-md-6">
				<div class="footer-widget mb-5">
					<div class="footer-logo mb-4">
						<a href="#"><img src="assets/images/logo/1.png" alt="Image not found!" /></a>
					</div>
					<p>Risus commodo congue augue phas ellus morbi hymenaeos ante tincidu eu orci dictum bibe ndum lacus pla tea primis mi lacinia felis gravid nato que bibendum cubilia montes tristi que et arcu blandit risus. Lobortis dignissim nam.</p>
					<a href="#" class="btn btn-primary mt-4">Contact Now</a>
				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="footer-widget post-widget mb-5">
				  <h3 class="widget-title mb-4">Recent News</h3>
				  <ul>
					<li><a href="#">How Our Consultation Can Change and Increase Your Business</a><span>10 May, 2019</span></li>
					<li><a href="#">The Best Way of Money Investment and Process to Get Success</a><span>08 May, 2019</span></li>
					<li><a href="#">Do You Know We Take The Risk of Your Business</a><span>30 April, 2019</span></li>
				  </ul>
				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="footer-widget footer-nav mb-5">
				  <h3 class="widget-title mb-4">Quick Links</h3>
				  <ul>
					<li><a href="#">Our Services</a></li>
					<li><a href="#">Investment Solution</a></li>
					<li><a href="#">Frequenly Ask Question</a></li>
					<li><a href="#">How It Work</a></li>
					<li><a href="#">Become a Member</a></li>
					<li><a href="#">Case Study and Story</a></li>
					<li><a href="#">Free Consultation</a></li>
					<li><a href="#">Mission and Vision</a></li>
					<li><a href="#">Make Career</a></li>
				  </ul>
				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="footer-widget contact-widget mb-5">
				  <h3 class="widget-title mb-4">Contact Us</h3>
				    <ul>
						<li>Collins Street West, Victoria 8007, Australia</li>
						<li>+1 246-345-0695</li>
						<li>helpline@homex.com</li>
				    </ul>
				</div>
				<div class="footer-widget media-widget mb-5">
					<a href="#"><i class="fab fa-facebook-f"></i></a>
					<a href="#"><i class="fab fa-twitter"></i></a>
					<a href="#"><i class="fab fa-linkedin-in"></i></a>
					<a href="#"><i class="fab fa-google-plus-g"></i></a>
					<a href="#"><i class="fab fa-pinterest-p"></i></a>
				</div>
			</div>
		</div>
	</div>
</div>

<footer-copyrights></footer-copyrights>

