<header class="full-header nav-on-banner">
	<div class="navigation-header">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<nav class="navbar navbar-expand-lg nav-white nav-primary-hover nav-down-line-active px-5 md-px-0">
						<a class="navbar-brand ml-5" routerLink="/home" routerLinkActive="active">
							<img class="nav-logo" src="theme_styles/images/logo/Frameworx_Logo.svg" alt="Image not found !">
						</a>
						<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
						 aria-expanded="false" aria-label="Toggle navigation">
							<span class="navbar-toggler-icon flaticon-menu flat-small text-primary"></span>
						</button>

						<div class="collapse navbar-collapse ml-2 sm-ml-0" id="navbarSupportedContent">
							<ul class="navbar-nav">
								<li class="nav-item dropdown">
									<a class="nav-link dropdown-toggle" routerLink="/home" routerLinkActive="active">
										Home
									</a>
								</li>
								
								<!-- <li class="nav-item dropdown">
									<a class="nav-link dropdown-toggle" href="#">
										About
									</a>

								</li> -->

								<li class="nav-item dropdown">
									<a class="nav-link dropdown-toggle" routerLink="/projects/webDev" routerLinkActive="active">
										Our Work
									</a>
									<ul class="dropdown-menu">
										<li>
											<a class="dropdown-item" routerLink="/projects/webDev" routerLinkActive="active">Web Development</a>
										</li>
										<li>
											<a class="dropdown-item" routerLink="/projects/mobileDev" routerLinkActive="active">Mobile Development</a>
										</li>
										<li>
											<a class="dropdown-item" routerLink="/projects/uiux" routerLinkActive="active">UI/UX Designs</a>
										</li>
										<li>
											<a class="dropdown-item" routerLink="/projects/dataScience" routerLinkActive="active">Data Science</a>
										</li>

									</ul>
								</li>

								<li class="nav-item dropdown">
									<a class="nav-link dropdown-toggle" routerLink="/contactUs" routerLinkActive="active">
										Contact us
									</a>

								</li>

							</ul>

						</div>
					</nav>
				</div>
			</div>
		</div>
	</div>
</header>