<div class="full-row bg-light">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<span class="pb-2 d-table w-50 w-sm-100 text-primary m-auto text-center h6">Our Recent Post</span>
				<h3 class="down-line w-50 w-sm-100 mx-auto text-center mb-5">Publish What We Think, About Our Company Activities</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4 col-md-6">
				<div class="thumb-blog-classic mb-4">
					<div class="post-image position-relative">
						<img src="assets/images/blog/grid/4.png" alt="Image not found!">
						<div class="position-absolute left-0 bottom-0 bg-primary text-center p-3">
							<span class="h6 text-white">20<br>Aug</span>
						</div>
					</div>
					<div class="post-content pt-3 pb-4">
						<h5 class="mb-3 post-title"><a href="#" class="transation">Our Latest Development Projects by More Efficient Developer</a></h5>
						<p>Nostra maecenas malesuada vel lobortis sociis mus aliquam tempor etiam ipsum pretium cursus nullam tortor. Massa dis aptent facilisi ante.</p>
						<a href="#" class="btn text-secondary mt-3">Read More</a>
						<div class="post-meta float-right mt-4">
							<a href="#"><i class="flaticon-comments flat-mini text-gray"></i> <span class="text-secondary">07</span></a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="thumb-blog-classic mb-4">
					<div class="post-image position-relative">
						<img src="assets/images/blog/grid/5.png" alt="Image not found!">
						<div class="position-absolute left-0 bottom-0 bg-primary text-center p-3">
							<span class="h6 text-white">05<br>Aug</span>
						</div>
					</div>
					<div class="post-content pt-3 pb-4">
						<h5 class="mb-3 post-title"><a href="#" class="transation">A Career Overview Opportunity Available</a></h5>
						<p>Nostra maecenas malesuada vel lobortis sociis mus aliquam tempor etiam ipsum pretium cursus nullam tortor. Massa dis aptent facilisi ante.</p>
						<a href="#" class="btn text-secondary mt-3">Read More</a>
						<div class="post-meta float-right mt-4">
							<a href="#"><i class="flaticon-comments flat-mini text-gray"></i> <span class="text-secondary">15</span></a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="thumb-blog-classic mb-4">
					<div class="post-image position-relative">
						<img src="assets/images/blog/grid/6.png" alt="Image not found!">
						<div class="position-absolute left-0 bottom-0 bg-primary text-center p-3">
							<span class="h6 text-white">25<br>July</span>
						</div>
					</div>
					<div class="post-content pt-3 pb-4">
						<h5 class="mb-3 post-title"><a href="#" class="transation">Experience to the Difference of Your Self From Other</a></h5>
						<p>Nostra maecenas malesuada vel lobortis sociis mus aliquam tempor etiam ipsum pretium cursus nullam tortor. Massa dis aptent facilisi ante.</p>
						<a href="#" class="btn text-secondary mt-3">Read More</a>
						<div class="post-meta float-right mt-4">
							<a href="#"><i class="flaticon-comments flat-mini text-gray"></i> <span class="text-secondary">25</span></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>