<div class="full-row">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-6">
				<span class="text-primary pb-2 tagline">About</span>
				<h3 class="mb-5">We Are Business Expert In Pakistan. <br> Let us Make your Dream Come True. </h3>
			</div>
			<!-- <div class="col-lg-6 col-md-6">
				<div class="simple-video-play d-table ml-auto mt-3">
					<a data-fancybox href="http://unicoderbd.com/theme/html/https://www.youtube.com/watch?v=0HnHUBeIBqU" class="rounded-circle"><i class="flaticon-play-button position-relative xy-center flat-mini rounded-circle text-white bg-primary"></i></a><span class="h6 pl-3 text-secondary">Watch Our Intro</span>
				</div>
			</div> -->
		</div>
		<div class="row">
			<div class="col-lg-6 col-md-12 mb-4">
				<div class="d-flex float-left p-4 mb-2 transation hover-shadow rounded">
					<span class="float-left d-table"><i class="flaticon-cost flat-medium text-primary"></i></span>
					<div class="pl-3">
						<h5 class="text-dark mb-3">Across Globe Clients</h5>
						<span>Our ultimate goal is to achieve customer satisfaction. In a short span of 3 Years, we have successfully delivered more than 50+ projects to clients all across the globe.</span>
					</div>
				</div>
				<div class="d-flex float-left p-4 mb-2 transation hover-shadow rounded">
					<span class="float-left d-table"><i class="flaticon-money flat-medium text-primary"></i></span>
					<div class="pl-3">
						<h5 class="text-dark mb-3">Cutting Edge Technology</h5>
						<span>Deep repository of technical knowledge, infrastructures and tools.</span>
					</div>
				</div>
				<div class="d-flex float-left p-4 mb-2 transation hover-shadow rounded">
					<span class="float-left d-table"><i class="flaticon-analysis-1 flat-medium text-primary"></i></span>
					<div class="pl-3">
						<h5 class="text-dark mb-3">Accelerate time to market</h5>
						<span>Our agile practices and infrastructure reduce development cost and time, and we can deliver 2x faster than the market.</span>
					</div>
				</div>
			</div>
			<div class="col-lg-6 col-md-12">
				<div class="position-relative">
					<img src="theme_styles/images/background/nb4.jpg" alt="corporate template" />
					<div class="position-absolute bg-primary px-4 py-3 text-white"  id="milestone" >
						<span class="text-white h4">50</span>+<br>
						<span class="text-white">Customer Milestone</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
